[hyoo_bench_app_main_page] {
	flex: 0 0 45rem;
}

[hyoo_bench_app_main_page_body] {
	display: flex;
	overflow: auto;
	z-index: 1;
}

[hyoo_bench_app_addon_page] {
	flex: 0 0 20rem;
}

[hyoo_bench_app_sandbox_page] {
	flex: 1000 0 20rem;
}

[hyoo_bench_app_result_page] {
	flex: 1 1 auto;
}

[hyoo_bench_app_sandbox] {
	border: none;
	background: white;
}

[hyoo_bench_app_descr] {
	flex: 0 1 auto;
	max-width: none;
	padding: var(--mol_gap_block);
}

[hyoo_bench_app_param_fields] {
	flex: none;
}

[hyoo_bench_app_result] {
	flex: none;
	padding: var(--mol_gap_block);
}

[hyoo_bench_app_menu] {
	display: flex;
	flex-direction: column;
}

[hyoo_bench_app_addon_page_tools] {
	flex-grow: 1;
}

[hyoo_bench_app_result_head] {
	cursor: pointer;
}

[hyoo_bench_app_result_cell_number] {
	white-space: nowrap;
	text-align: right;
}

[hyoo_bench_app_result_portion] {
	display: inline-flex;
	vertical-align: bottom;
	margin-left: .5rem;
	width: 5vw;
}
